html {
    min-height: 100%;
    position: relative;
  }
  body {
      background: orange;
    margin: 0;
    margin-bottom: 40px;
  }
/*Navbar-------*/
.main-title
{
    color: orange !important;
    font-size: 26px;
}

/*Catalogo------------------*/
#products
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    
    grid-gap:3em;
    
    border:1px dashed #777;
    height:300px
}
    

    img {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    .white-panel 
    {
    
    position: static;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
    }
    .white-panel h1 {
    font-size: 1em;
    }
    .white-panel h1 a {
    color: #A92733;
    }
    .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }




/* Footer-------se pueden crear con herramientas fronend Sass less Stylus*/
footer 
{       
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 145px;
    color: white;
    text-align: center;

}

footer p
{
    text-align: justify;
    color: white;
}
footer h3
{
    color: white;
}

ul.redes li
{
    display: inline-block;
}

ul.redes li a
{
    color: orange;
}
 
.avatar 
{
    border: 5px solid orange;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}

